@import './helpers/mixins.scss';

@import './components/app.scss';
@import './components/header.scss';
@import './components/data-components/data-display.scss';
@import './components/search-bar/search-bar.scss';
@import './components/search-bar/new-search.scss';
@import './components/data-components/data-block.scss';
@import './components/data-components/google-maps.scss';
@import './components/data-components/data-flag.scss';
@import './components/loading-styles/loading.scss';
@import './components/loading-styles/block-skeleton.scss';
@import './components//loading-styles/gm-skeleton.scss';
@import './components/loading-styles/flag-skeleton.scss';

.coolors {
  color: #CFCFEA;
  color: #DCEDFF;
  color: #94B0DA;
  color: #93E5FF;
  color: #77DB54;
  color: #2A2C24;
}

.fonts {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Trirong', serif;
}

