
#data-flag {
  @include grid-position(2, 3, 1, 4);
  @include container-props();
  user-select: none;
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 15px;
  width: calc(100% - 16px);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
 
  #flag-obj {
    @include grid-position(1, 2, 1, 2);
    position: absolute;
    top: 05%;
    max-width: 100%;
    transform: scale(.65);
    -webkit-transform:scale(0.65, 0.65);
  }

  #coat-arms {
    @include grid-position(1, 2, 2, 3);
    position: absolute;
    width: 50%;
    max-height: 100%;
    left: 25%;
    top: 10%;
    transform: scale(.9);
    -webkit-transform:scale(0.9, 0.9);
  }

  .flag-text {
    font-size: clamp(1rem, 4vw, 1.4rem);
    text-align: center;
    padding: 0.5rem 0;
    text-decoration: underline;
  }
}

@media screen and (max-width: 750px) {
  #data-flag {
    @include grid-position(1, 2, 6, 9);
    height: 33%;
    margin: 20px 0px;
    padding: 0;
    z-index: 2;

    #flag-obj {
      transform: scale(.5);
      -webkit-transform:scale(0.5, 0.5);
      top: 0%;
    }

    #coat-arms {
      transform: scale(.6);
      -webkit-transform:scale(0.6, 0.6);
    }
  }  
}
