
#data-flag {
  @include grid-position(2, 3, 2, 5);
  position: relative;
  border-radius: 10px;
  border: 1px solid #94B0DA;
  background-color: rgba(148, 176, 218, .4);
  margin-left: 15px;
  width: calc(100% - 15px);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  user-select: none;
  

  #flag-obj {
    @include grid-position(1, 2, 1, 2);
    position: absolute;
    top: 05%;
    max-width: 100%;
    scale: .65;
  }

  #coat-arms {
    @include grid-position(1, 2, 2, 3);
    position: absolute;
    width: 50%;
    max-height: 100%;
    left: 25%;
    top: 10%;
    scale: .9;
  }

  .flag-text {
    font-size: clamp(1rem, 4vw, 1.4rem);
    text-align: center;
    padding: 0.5rem 0;
    text-decoration: underline;
  }
}

@media screen and (max-width: 750px) {

  #data-flag {
    @include grid-position(1, 2, 6, 9);
    height: 33%;
    margin: 20px 0px;
    padding: 0;
    z-index: 2;


    #flag-obj {
      scale: .48;
      top: 0%;
    }

    #coat-arms {
      scale: .6;

    }

  }  
}
