
#data {
  @include grid-position(1, 2, 1, 5);
  @include container-props();
  margin-right: 15px;
  margin-top: 40px;
  padding: 0px 10px;

 
  #country {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.4rem, 5vw, 2rem);
    text-decoration: underline;
    text-align: center;
    width: 100%;
  }

  #data-grid{

    span {
        font-family: 'Lato', sans-serif;
        font-size: clamp(1rem, 5vw, 1.7rem);
        line-height: clamp(1rem, 5vw, 1.7rem);
        font-style: italic;
        font-weight: 700;
        padding-left: 20px;
        user-select: none;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: clamp(1.2rem, 5vw, 2rem);
        line-height: clamp(1.2rem, 5vw, 2rem);
        text-align: center;
    }
  }
}


@media screen and (max-width: 750px) {
  
  #data {
    width: 100%;
    margin-right: 0;
    height: fit-content;
    z-index: 2;

    #data-grid {
      span {
        line-height: clamp(.8rem, 2vw, 1rem);
      }
      p {
        line-height: clamp(.8rem, 2vw, 1rem);
      }
    }
  }
}