
#google-maps {
  @include grid-position(2, 3, 1, 2);
  border-radius: 10px;
  border: 1px solid #94B0DA;
  background-color: rgba(148, 176, 218, .4);
  margin-left: 15px;
  margin-top: 40px;

  margin-bottom: 20px;
  width: calc(100% - 15px);

  #prompt {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: clamp(1.4rem, 12vw, 2.6rem);

    text-align: center;

    #gm-link {
      color: #93E5FF;
      text-decoration: underline;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
    }
    #gm-link:hover {
      color: white;
    }
  }


}

@media screen and (max-width: 750px) {

  #google-maps {
    @include grid-position(1, 2, 5, 6);
    z-index: 2;

    margin-left: 0px;
    padding: 0;
    margin-bottom: 20px;
  }

  
}