
#google-maps {
  @include grid-position(2, 3, 4, 5);
  @include container-props();
  margin-left: 15px;
  width: calc(100% - 16px);
  display: grid;

  #prompt {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: clamp(1.4rem, 12vw, 2.6rem);
    text-align: center;
    margin: auto;

    #gm-link {
      color: #93E5FF;
      text-decoration: underline;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
    }

    #gm-link:hover {
      color: white;
    }
  }
}

@media screen and (max-width: 750px) {
  #google-maps {
    height: fit-content;
    z-index: 2;
    margin-left: 0px;
    padding: 15px 0;
    margin-bottom: 20px;
  }
}