
#header {
  @include grid-position(1, 2, 1, 2);
  margin: auto;
  font-family: 'Trirong', serif;
  font-size: clamp(1rem, 10vw, 4.5rem);
  color: white;
  text-align: center;
  user-select: none;

}




